<a href="https://colab.research.google.com/github/sayyedarbaz6/Python-practice-programs/blob/main/Task-5_Pandas_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1Read the spotify csv and print the data.
import pandas as pd
df = pd.read_csv('/content/spotify.xls')
print(df)

In [ ]:
#2Writing the data from one file to another new file.
import pandas as pd
df = pd.read_csv('/content/spotify.xls')
newfile = pd.DataFrame()
df.to_csv('newfile.csv')
print(df)

In [ ]:
#3 Program to create Dataframe of three series and display it.
import pandas as pd
s1 = pd.Series([1, 3, 4, 5, 6, 2, 9])  
s2 = pd.Series([1.1, 3.5, 4.7, 5.8, 2.9, 9.3])
s3 = pd.Series(['a', 'b', 'c', 'd', 'e'])     
Data ={'first':s1, 'second':s2, 'third':s3}
dfseries = pd.DataFrame(Data)
print(dfseries)

In [13]:
#4 Program to create DataFrame from 2D array
import pandas as pd 
d1 =[[2, 3, 4], [5, 6, 7]] 
d2 =[[2, 4, 8], [1, 3, 9]] 
Data ={'first': d1, 'second': d2}  
df2d = pd.DataFrame(Data)    
print(df2d)

       first     second
0  [2, 3, 4]  [2, 4, 8]
1  [5, 6, 7]  [1, 3, 9]

In [ ]:
#5Reading csv file and storing the data to new json file. 
import pandas as pd
df = pd.read_csv('/content/spotify.xls')
jsonfile = pd.DataFrame()
df.to_json('jsonfile.json')

In [ ]:
#6Comparing two files data and giving output.
import pandas as pd
df1=pd.read_csv('/content/iris_virginica.xls')
df2=pd.read_csv('/content/asdf.xls')
comparison_values = df1.values != df2.values
print(comparison_values)

In [ ]:
#7Reading csv file and dropping rows having null values.
import pandas as pd
df = pd.read_csv('/content/spotify.xls')
df.dropna()
print(df)

In [17]:
#8 Operations on series.
import numpy as np
import pandas as pd
fruits = ['apples', 'oranges', 'cherries', 'pears']
S = pd.Series([20, 33, 52, 10], index=fruits)
print((S + 3) * 4)
print("======================")
print(np.sin(S))

apples       92
oranges     144
cherries    220
pears        52
dtype: int64
======================
apples      0.912945
oranges     0.999912
cherries    0.986628
pears      -0.544021
dtype: float64